<footer class="footer-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-copyright">
                <p class="text-center">
                    <a class="anchor-black" href="https://morphosis.org.in/" target="_blank">M O R P H O S I S</a>
                </p>
            </div>
            <div class="col-md-4 mx-auto">
                <h3 class="text-center"><i class="fas fa-chart-line" aria-hidden="true"></i><br>
                    Stock Bridge
                </h3>
                <p class="text-center">© 2018, Stock Bridge</p>
            </div>
            <div class="col-md-4 social-networks">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="https://www.instagram.com/nitmz_morphosis/">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="https://www.facebook.com/NITMz.morphosis/">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="https://www.linkedin.com/company/13677719/">
                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="https://github.com/morphosis-nitmz">
                            <i class="fab fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>