html, body {
	height: 100%;
}

#wrap {
	min-height: 75%;
}

#main {
	overflow:auto;
	padding-bottom:80px; /* this needs to be bigger than footer height*/
}

.footer {
	position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 80px;
	clear:both;
	padding-top:20px;
}

.dropdown .dropdown-menu a:hover {
	background-color: #dcdce1;
  	color: #000;
}

.footer-custom {
	background-color: #dcdce1;
	padding: 60px 40px;
	color: #000;
}

a.dropdown-item.active {
	background-color:#D9CDCA;
  	color: #000;
}

.anchor-black {
	text-decoration: none;
	color: black;
}

.image-home {
    background: url("https://entefy.com/uploads/editor/071f8a36715a8a6b7f7ded54074cc8c6.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    opacity: 1;
}

.home-heading {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 200px;
    font-family: 'foughtknight';
    src: url('../static_files/fonts/foughtknight.ttf') format("truetype"), local('foughtknight');
}

.heading {
    text-align: center;
    font-family: 'foughtknight';
    src: url('../static_files/fonts/foughtknight.ttf') format("truetype"), local('foughtknight');
}