{% extends 'base.html' %}

{% block base_head %}
<title>Transaction History</title>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-12 my-3">
		<h1 class="text-center">LeaderBoard</h1>
	</div>
</div>
<div class="jumbotron" style="padding-top: 15px;padding-left: 10px ;padding-bottom: 5px;margin-bottom:10px;margin-top:8px; ">
    <div class="row">
        <div class="col-12 my-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Rank</th>
                        <th class="text-center">Username</th>
                        <th class="text-center">Net Worth</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        {% if object.username == username %}
                            <tr style="background-color:rgb(224, 129, 129)">
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center"><a href="#">{{ object.username }}</a></td>
                                <td class="text-center">{{ object.net_worth }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center"><a href="#">{{ object.username }}</a></td>
                                <td class="text-center">{{ object.net_worth }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}