{% extends 'base.html' %}
{% block base_head %}
<title>Select</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col mt-3 mb-5">
        <h1 class="heading">Market</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 mx-auto text-center mt-5">
        <form method="POST" action="{% url 'market:company_select' %}"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Select</button>
        </form>
    </div>
</div>

{% endblock %}
