{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block base_head %}
<title>Transaction</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col mx-auto my-3">
        <div class="text-center">
            <h1 class="heading">{{ object.name }}</h1>
            <p>Net Worth: &#8377; {{ object.cap|intcomma }}</p>
            <!--{% if object.change >= 0 %}-->
                <!--<p>{{ object.change }} <i class="fa fa-arrow-up" aria-hidden="true"></i></p>-->
            <!--{% else %}-->
                <!--<p>{{ object.change }} <i class="fa fa-arrow-down" aria-hidden="true"></i></p>-->
            <!--{% endif %}-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-8 my-5 mr-auto">
        {% if object.code == 'GOOG' %}
            <img src="{% static 'img/GOOG.png' %}">
        {% elif object.code == 'MCSFT' %}
            <img src="{% static 'img/MCSFT.png' %}">
        {% elif object.code == 'FACBK' %}
            <img src="{% static 'img/FACBK.png' %}">
        {% endif %}
    </div>
    <div class="col-12 col-md-4 my-5 ml-auto text-center">
        <h3>{{ object.code }}</h3>
        Total Stocks: {{ object.stocks_offered }}<br>
        Stocks Remaining: {{ object.stocks_remaining }}<br>
        Current Price per stock: &#8377; {{ object.cmp }}
    </div>
</div>
<div class="row">
    <div class="col-6 text-center mx-auto mt-5">
        <form method="POST" action="{% url 'market:transaction' object.code %}"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Transact</button>
        </form>
    </div>
</div>

{% endblock %}
