{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
		{% include 'base/css.html' %}
		{% include 'base/js.html' %}
	</head>
	<body>

		{% include 'base/navbar.html' with brand_name='Stock Bridge' %}

    <div class="image-home jumbotron">
      <div class="home-heading" font-family="FoughtKnight">
        <h1>STOCK BRIDGE</h1>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col">
          <p>Keeping in view the real thrill of the market monotony, we are here with the Virtual Simulation of the same thrill
            and adrenaline rush through the event under the banner of MORPHOSIS. The virtual share market enables the participants
            to trade, buy, sell mortgage and showcase their rationality, their mettle against competitive decision making under
            pressure. The full time active virtual market will be a platform to showcase your inferential, pressure-handling
            capability. So, be a part of it to experience the Raising Spirit of Competitiveness and explore your ability of Decision
            Making.
          </p>
        </div>
        <div class="col-12 col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-12 text-center mb-5">
          <a href="{% url 'market:company_select' %}">
            <button class="btn btn-primary">Enter Market</button>
          </a>
        </div>
      </div>

		{% include 'base/footer.html' %}

	</body>
</html>